// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #266679;

$title-color: white; 
$date-color: darkgrey; 
$time-color: lightgrey;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-music {

    .title {
        font-size: 1.2em;
        top: 12px;
        right: 95px;
        position: absolute;
    }

    .artist {
        vertical-align: bottom;
        color: slategrey;
        font-size: 20px;
    }

    .song {
        vertical-align: bottom;
        font-size: 24px;
    }

  background-color: $background-color;


  .container {
    display: flex;
  }

  .leftside {
    flex: 0.48;
    padding-left: 25px;
    padding-right: 10px
  }


  .rightside {
    flex: 0.52;
    text-align: left;
    align-self: flex-end;
  }

}
