.p45-colour {
//  background-color: #d71717; 
}
.widget-temptile {
//  background-color: #ec663c; 
background-color: #266679;

    .title {
        font-size: 1.2em;
        top: 12px;
        left: 0;
        right: 0;
        position: absolute;
    }

}
