// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(38, 102, 121, 1.0);

$title-color: white; 
//      rgba(255, 255, 255, 0.7);
$date-color: lightgrey; 
//   rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-banner {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 32px;   
  }

  .date {
    color: $date-color;
  }

}
