
<script type='text/javascript'>
// set dimensions
$(function() {
  Dashing.widget_base_dimensions = [123, 7] // [130, 30]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>Home Status Dashboard<% end %>
<div class="gridster">
  <ul>
<!-- Home Dashboard Title -->
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="3">
      <div data-id="pagetitle" data-view="Banner" data-title="The Bell Home Dashboard" data-date=""></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="6" data-sizey="30">
     <div data-id="camera" data-view="Image" data-title="My Sweet Image" data-image="http://192.168.1.80:8080/index2.jpg" data-width="830"></div>
    <!--  <div data-id="logo" data-view="Image" data-title="My Sweet Image" data-image="/logo.png"></div> -->
    </li>

<li data-row="35" data-col="1" data-sizex="2" data-sizey="24">
  <div data-id="temptile" data-view="Temptile" data-title="Room Temperature"></div>
</li>
		<li data-row=103" data-col="8" data-sizex="2" data-sizey="3" style="position: absolute; left: 5px; top: 878px">
			<div data-id="top-temp" data-view="Rickshawgraph"></div>
		</li>
    <li data-row="100" data-col="7" data-sizex="2" data-sizey="3" style="position: absolute; left: 5px; top: 647px">
      <div data-id="nursery-temp" data-view="Rickshawgraph"></div>
    </li>
    <li data-row="101" data-col="8" data-sizex="2" data-sizey="3" style="position: absolute; left: 5px; top: 724px">
      <div data-id="master-temp" data-view="Rickshawgraph"></div>
    </li>
    <li data-row=102" data-col="8" data-sizex="2" data-sizey="3" style="position: absolute; left: 5px; top: 801px">
      <div data-id="lounge-temp" data-view="Rickshawgraph"></div>
    </li>

<li data-row="35" data-col="3" data-sizex="2" data-sizey="24">
  <div data-id="forecast" data-view="Forecast" data-title="Weather"> ></div>
</li>
    <li data-row="35" data-col="5" data-sizex="2" data-sizey="24">
      <div data-id="tomtom" data-view="Traffic" data-title="Journey Times"></div>
    </li>
    <li data-row="59" data-col="1" data-sizex="4" data-sizey="17">
      <div data-id="spotify" data-view="Music" data-title="Spotify" data-song="All of Me" data-artist="John Legend" data-state="Paused"></div>
    </li>
    <li data-row="59" data-col="5" data-sizex="2" data-sizey="17">
      <div data-id="device-status" data-view="ServerStatusMulti" data-title="Device Status" data-stale="9000" class="pointer"></div>
    </li>
  </ul>
<!--  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
