
<script type='text/javascript'>
// set dimensions
$(function() {
  Dashing.widget_base_dimensions = [123, 29] // [130, 30]
  Dashing.numColumns = 6
});
</script>

<% content_for :title do %>Home Status Dashboard<% end %>
<div class="gridster">
  <ul>
<!-- Home Dashboard Title -->
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="2">
      <div data-id="pagetitle" data-view="Banner" data-title="The Bell Home Dashboard" data-date=""></div>
    </li>


<!--    <li data-row="3" data-col="1" data-sizex="6" data-sizey="1">
        <div data-id="pagedate" data-view="Header" data-header="IM THE HEADER"></div>
    </li>
-->    
<!--    <li data-row="3" data-col="1" data-sizex="6" data-sizey="13">
    <div>Front Door Camera</div>
    <img src="http://192.168.1.93:81/live/0/mjpeg.jpg" style="height: 480px;">
    </li>
-->

    <li data-row="3" data-col="1" data-sizex="6" data-sizey="13">
     <div data-id="camera" data-view="Image" data-title="My Sweet Image" data-image="http://192.168.1.80:8080/index2.jpg" data-width="830"></div>
    <!--  <div data-id="logo" data-view="Image" data-title="My Sweet Image" data-image="/logo.png"></div> -->
    </li>


    <li data-row="16" data-col="1" data-sizex="2" data-sizey="8">
      <div data-id="device-status" data-view="ServerStatusMulti" data-title="Device Status" data-stale="9000" class="pointer"></div>
    </li>

<li data-row="16" data-col="3" data-sizex="2" data-sizey="8">
  <div data-id="forecast" data-view="Forecast" data-title="Weather"> ></div>
</li>
<!--
    <li data-row="16" data-col="3" data-sizex="2" data-sizey="8">
      <div data-id="whoishome" data-view="ServerStatusMulti" data-title="Who is Home?" data-stale="9000" class="pointer"></div>
    </li>
-->    
    <li data-row="16" data-col="5" data-sizex="2" data-sizey="8">
      <div data-id="tomtom" data-view="Traffic" data-title="Journey Times"></div>
    </li>
<!--    <li data-row="24" data-col="1" data-sizex="2" data-sizey="6">
        <div data-id="sss-frontdoorcamera" data-view="ServerStatusSquares" data-title="Front Door Camera"></div>
    </li>
    <li data-row="24" data-col="3" data-sizex="2" data-sizey="6">
        <div data-id="sss-livingroomcamera" data-view="ServerStatusSquares" data-title="Living Room Camera"></div>
    </li>
    <li data-row="24" data-col="5" data-sizex="2" data-sizey="6">
        <div data-id="sss-cinemaroommac" data-view="ServerStatusSquares" data-title="Cinema Room Mac"></div>
    </li>
-->
    <li data-row="24" data-col="1" data-sizex="6" data-sizey="8">
      <div data-id="spotify" data-view="Music" data-title="Spotify" data-song="An annoying song" data-artist="David Bell" data-state="starting..."></div>
    </li> 
 <!--       
    <li data-row="30" data-col="1" data-sizex="6" data-sizey="12">
      <div data-id="verbinski" data-view="Verbinski"></div>
    </li> 

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>
 -->
  </ul>
<!--  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
